<div id="templatemo_content_wrapper">
  <div class="row-fluid">
    <div class="span6">
      <p class="em_text">Asian Fibro Plast</p>
      <p>Sainath complex, CAT road Rau, Indore, India</p>
      <p>Pin - 453331</p>
      <p>+919926736374</p>
      <p>asianfibroplast@gmail.com</p>
    </div>
    <div class="span6">
      <div class="products-details">
        <%= link_to image_tag("conact_us.jpeg") %>
      </div>
    </div>
  </div>
</div>

