<div id="templatemo_content_wrapper">
  <%= link_to image_tag("tel.jpg") %>
  <p class="em_text">Asian Fibro Plast</p>
  <p>Sainath complex, CAT road Rau, Indore, India</p>
  <p>Pin - 453331</p>
  <p>+919926736374</p>
  <p>asianfibroplast@gmail.com</p>
</div>
