<div id="templatemo_content_wrapper">
  <div id="templatemo_content">
    <div id="templatemo_side_column">
      <div class="header_01">Updates</div>
      <div class="side_column_content">
        <div class="news_section">
          <div class="news_date">OCT 22, 2048</div>
          <div class="news_title">Nam auctor aliquam leo</div>
          <p>Aliquam erat volutpat. Etiam blandit, dui non faucibus tincidunt, risus odio fringilla sem, sed urna velit. <a href="#">Read more</a></p>
        </div>

        <div class="news_section">
            <div class="news_date">OCT 19, 2048</div>
            <div class="news_title">In sed lorem vitae arcu </div>
            <p>Curabitur ut mattis urna. Maecenas adipiscing, massa at pharetra fringilla, nibh erat dignissim nisl, vitae pellentesque leo lorem non purus. <a href="#">Read more</a></p>
        </div>
                    
        <div class="news_section">
            <div class="news_date">OCT 16, 2048</div>
            <div class="news_title">Vivamus at odio et tortor</div>
            <p>Etiam ut metus vitae neque rhoncus tristique. Integer sit amet tortor vel diam ornare  ut vitae tellus. <a href="#">Read more</a></p>
        </div>
                    
       <div class="button_01"><a href="#">Read All</a></div>
    </div>
    <div class="margin_bottom_40"></div>
    <div class="header_01">Online booking</div>
    <div class="side_column_content">
      <%= link_to "Click here to book online", new_order_path %>
    </div>
  </div>

  <div id="templatemo_main_content_column">
    <div class="header_01">Welcome to Asian Fibro Plast</div>
      <div class="section_w600">
        <a class="fancybox" href="/assets/catelog.jpg" rel="catelog_group"><%= image_tag("catelog.jpg", :class=>"fl_image", :size => "200x130") %></a>
        <p class="em_text">Asian Fibro Plast providing services and products which are useful for Housing projects, Bungalows & Villas, Hospitals, Lodges.</p>
        <p class="em_text">Reports educational institutes, Hotels, Industrial Buildings dairy, Pharmaceuticals and Bio Tech Industries.</p>
        <div class="cleaner"></div>
      </div>
      <div class="margin_bottom_30"></div>
      <div class="section_w280 fl margin_right_40">
        <div class="header_01">Services</div>
        <div class="section_w280_content">
          <p>Services that we provide by our products to you.</p>
          <ul class="content_list_01">
            <li>Fire Resistance.</li>
            <li>Sound Proofness.</li>
            <li>Smoke Tightness.</li>
            <li>Burglar Proofness.</li>
          </ul>
          <div class="margin_bottom_20"></div>
          <div class="button_01"><a href="#">Read All</a></div>
        </div>
      </div>
      <div class="section_w280 fl">
        <div class="header_01">Featured Work</div>                  
        <div class="section_w280_content">
          <p>We are providing our services with good features.</p>
          <ul class="content_list_01">
            <li>Good Strength, Weather Proof, Termite Proof, Long Lasting.</li>
            <li>Permanent Colors.</li>
            <li>100% Waterproof Fire Resistant.</li>
            <li>Strong Grip with Hinges, Wood substitute Products.</li>
          </ul>
      </div>
      </div>
      <div class="cleaner"></div>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
