<div id="templatemo_content_wrapper">
  <div id="templatemo_content">
    <div id="templatemo_side_column">
      <div class="header_01">Updates</div>
      <div class="side_column_content">
        <div class="news_section">
          <div class="news_date">OCT 22, 2048</div>
          <div class="news_title">Nam auctor aliquam leo</div>
          <p>Aliquam erat volutpat. Etiam blandit, dui non faucibus tincidunt, risus odio fringilla sem, sed urna velit. <a href="#">Read more</a></p>
        </div>

        <div class="news_section">
            <div class="news_date">OCT 19, 2048</div>
            <div class="news_title">In sed lorem vitae arcu </div>
            <p>Curabitur ut mattis urna. Maecenas adipiscing, massa at pharetra fringilla, nibh erat dignissim nisl, vitae pellentesque leo lorem non purus. <a href="#">Read more</a></p>
        </div>
                    
        <div class="news_section">
            <div class="news_date">OCT 16, 2048</div>
            <div class="news_title">Vivamus at odio et tortor</div>
            <p>Etiam ut metus vitae neque rhoncus tristique. Integer sit amet tortor vel diam ornare  ut vitae tellus. <a href="#">Read more</a></p>
        </div>
                    
       <div class="button_01"><a href="#">Read All</a></div>
    </div>
    <div class="margin_bottom_40"></div>
    <div class="header_01">Online booking</div>
    <div class="side_column_content">
      <a href="#">Click here to book online</a>
    </div>
  </div>

  <div id="templatemo_main_content_column">
    <div class="header_01">Welcome to Asian Fibro Plast</div>
      <div class="section_w600">
        <a class="fancybox" href="/assets/catelog.jpg" rel="catelog_group"><%= image_tag("catelog.jpg", :class=>"fl_image", :size => "200x130") %></a>
        <p class="em_text">This Free CSS Template is brought to you by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a>. You may use this template in your websites. Credits go to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos and <a href="http://www.smashingmagazine.com" target="_blank">Smashing Magazine</a> for icons.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id aliquam purus. Nullam et metus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer bibendum egestas lectus, sed porta sem gravida id. Vivamus non diam in dui adipiscing posuere. Suspendisse sodales feugiat lacus vel tincidunt. Sed fermentum, ante quis facilisis aliquam.</p>
        <div class="cleaner"></div>
      </div>
      <div class="margin_bottom_30"></div>
      <div class="section_w280 fl margin_right_40">
        <div class="header_01">New Services</div>                  
        <div class="section_w280_content">                    
          <p>Mauris sed tortor id ipsum auctor gravida nec a dolor. Nulla accumsan vulputate est, vitae tempor eros cursus eu. </p>
          <ul class="content_list_01">
            <li>Proin nec molestie ipsum</li>
            <li>Curabitur ut mattis urna</li>
            <li>Etiam ut metus vitae neque rhoncus </li>
            <li>Integer sit amet tortor vel diam </li>
          </ul>
          <div class="margin_bottom_20"></div>
          <div class="button_01"><a href="#">Read All</a></div>
        </div>
      </div>
      <div class="section_w280 fl">
        <div class="header_01">Featured Work</div>                  
        <div class="section_w280_content">
          <a class="fancybox" href="/assets/catelog.jpg" rel="catelog_group"><%= image_tag("catelog.jpg", :size => "200x130") %></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id aliquam purus. Nullam et metus est.</p>
      </div>
      </div>
      <div class="cleaner"></div>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
