<div id="templatemo_content_wrapper">
  <h3> Our Products: </h3>
  <% (1..28).each do |i| %>
    <%= link_to image_tag("contact_icon.jpg", :class=>"product-image", :title => "View Details") %>
  <% end %>
</div>
