<div id="templatemo_content_wrapper">
  <p class="em_text"> 	
The Professional Team of the company is capable of handling, as well as carrying everything necessary to provide immediate on-site furniture disassembling,  assembling and all repairs,  on wood, leather, vinyl, fabric, upholstery, antiques, metal, stone, and mechanisms. Methods and products are chosen to make their repairs permanent, invisible and to return furniture to its original or even better condition. On-site or in-shop services offered to all: Manufactures, Stores, Vendors, Warehouses, Designers, Hotels, Restaurants, Construction, Moving, Insurance Companies as well as Individual Customers. We have been at the forefront of the Antique and Modern Repair & Restoration.</p>
</div>
