.error{
  color: red;
  font-size: 15px;
  margin-left: 10px;
}
.alert-error{
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.thanks-message{
  color: green;
  font-size: 17px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}
