<div id="templatemo_top_panel">
  <div id="site_logo">
    <%= link_to image_tag("comapny_logo.jpg") %>
  </div>
  <div id="header_menu_section">
    <div class="header_menu home_menu">
      <a href="/dashboard"></a>
    </div>
    <div class="header_menu contact_menu">
      <a href="/contact_us"></a>
    </div>
  </div> 
  <div class="cleaner"></div>
</div>
    
<div id="templatemo_menu_banner_panel">
  <div id="templatemo_menu_wrapper">
    <div id="templatemo_menu">
      <ul>
        <li><a href="/dashboard" class="current">Homepage</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/company">Our Company</a></li>
        <li class="last"><a href="/contact_us">Contact Us</a></li>
      </ul>    	
    </div>     
  </div>
    
  <div id="templatemo_banner">
    <div class="header_02">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id aliquam purus. Nullam et metus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <a href="#">Read more...</a></p>
    </div> <!-- end of banner -->
  <div class="cleaner">&nbsp;</div>    
</div> <!-- end of menu & banner panel -->
