<!DOCTYPE html>
<html>
<head>
  <title>Asian</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="templateo_container">
  <div id="templatemo_top_panel">
    <div id="site_logo">
      <a href="http://www.templatemo.com" target="_parent"><img src="assets/templatemo_logo.jpg" alt="Site Title" /></a>        </div>
      <div id="header_menu_section">
            <div class="header_menu home_menu">
            	<a href="/home/dashboard"></a>
            </div>
            <div class="header_menu contact_menu">
            	<a href="/home/contact_us"></a>
            </div>
      </div><!-- end of header mneu section -->    
    <div class="cleaner"></div>
  </div> <!-- end of top panel -->
    
    <div id="templatemo_menu_banner_panel">
    
    	<div id="templatemo_menu_wrapper">
        	<div id="templatemo_menu">
                <ul>
                      <li><a href="#" class="current">Homepage</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Products</a></li>
                      <li><a href="#">Partners</a></li>
                      <li><a href="#">Our Company</a></li>
                      <li class="last"><a href="#">Contact Us</a></li>
                </ul>    	
            </div> <!-- end of menu -->        
        </div> <!-- end of menu wrapper -->
        
        <div id="templatemo_banner">
        
        	<div class="header_02">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id aliquam purus. Nullam et metus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <a href="#">Read more...</a></p>
        
        </div> <!-- end of banner -->
        
        <div class="cleaner">&nbsp;</div>    
    </div> <!-- end of menu & banner panel -->
<%= yield %>
    
    <div id="templatemo_footer">
        Copyright © 2048 <a href="#">Asian Fibro Plast</a>
    </div> <!-- end of footer -->
</div> <!-- end of container -->

</body>
</html>
